


/* CSS */
.button {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #ff9035;
  z-index: 100;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 20px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button:active {
  background: var(--color);
  color: #fff;
}


.listItem {
  display: inline-block;
  position: relative;
  color: rgb(19, 18, 13);
  cursor: pointer;
  font-weight: 400;
  font-size: 1.1rem;
}

.listItem::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9f9618;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.listItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}